*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #1B1c1c;
}

#principal {
    width: 800px;
    height: 1200px;
    background-color: #c2c2c2;
    position: relative;
    margin: auto;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.5);
}

#cabecalho {
    height: 200px;
    background-color: #323232;
}

#conteudo {
    height: 750px;
    background-color: #686868;
    padding: 50px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

/* ----- RODAPÉ ----- */
#rodape {
    height: 150px;
    width: 800px;
    background-color: #323232;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5) inset;
}

.nota-rodape {
    color: #c2c2c2;   
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

#rodape > hr {
    background-color: #c2c2c2;
    width: 200px;
    height: 1px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ----- CABEÇALHO -----*/
#conteudo-cabecalho {
    height: 160px;
    line-height: 150px;
}

#conteudo-cabecalho > h1 {
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #c2c2c2;
}

/* ----- MENUS -----*/
#menus {
    
    height: 40px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

#menus > ul {
    list-style-type: none;
}

#menus > ul > li {
    display: inline;
    float: left;
    height: 40px;
    width: 152px;
    margin: 0px 5px;
    text-align: center;
    line-height: 40px;
    background-color: #1B1c1c;
}

#menus > ul > li > a {
    color: #c2c2c2;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

#menus > ul > li > a.ativa {
    background-color: #c2c2c2;
    color: #1B1C1C;
}

#menus > ul > li > a:hover{
    background-color: #c2c2c2;
    color: #1B1C1C;
}

/* ----- BANNER ----- */
.conteudo-baner {
    background-color: #1B1c1c;
    height: 100px;
    margin-bottom: 20px;
}

.conteudo-baner > img {
    width: 100%;
    height: 100%;
}

/* ----- CONTEÚDO ----- */
.cont-conteudo {
    background-color: #323232;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
}

.cont-conteudo > div{
    height: 330px;
    margin: 10px;
    background-color: #c2c2c2;
    flex-grow: 1;
}

.cont-conteudo > div > img {
    display: block;
    height: 310px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.cont-conteudo > div > p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}


/** ----- IMAGENS ----- **/
.imagens-conteudo {
    background-color: #323232;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
}

.imagens-conteudo > div {
    height: 180px;
    margin: 10px;
    flex-grow: 1;
}

.imagens-conteudo > div > img {
    display: block;
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.imagens-conteudo > div > p {
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.cont-conteudo > div > .texto {
    text-align: justify;
    font-size: 18px;
    margin: 10px;
}

/* ----- LINKS ----*/
.links-conteudo {
    background-color: #323232;
    height: 70px;
    margin-bottom: 20px;
    display: flex;
}

.links-conteudo > div {
    height: 50px;
    margin: 10px;
    flex-grow: 1;
    text-align: center;
}

.links-conteudo > div > a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-weight: bold;
    
}

.links-conteudo > div > a > img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 10px;
}
