body {
	background: rgb(73,73,73);
	margin: auto;
	padding: 20px;
}

label, input[type=submit], input[type=text], textarea {
	display: block;
	padding: 10px;
	font-style: bold;
}

textarea {
	width: 300px;
	height: 60px;
}

input[type=text] {
	width: 300px;
	height: 30px;
}



